body {
    height: 100vh;
}
.block{
    width: 306px;
    margin: 0 auto;
}
.block .cssBlock{
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    cursor: pointer;
    float: left;
    text-align: center;
    font-size: 100px;
    line-height: 94px;
}
.face {
    background: url(shocked-cartoon-face-stubble-vector-illustration-emotions-expression-43601822.jpg) center no-repeat;
    background-size: contain;
}
#score {
    position: absolute;
    top: 16%;
    right: 700px;
    text-align: center;
    font-size: 38px;
}